<p *ngIf="data.length === 0 && !searched && !isLoading">Your search results will appear here</p>
<p *ngIf="data.length === 0 && searched && !isLoading">Try a different query</p>

<mat-spinner *ngIf="isLoading"></mat-spinner>

<ng-container *ngIf="data.length > 0 && searched && !isLoading">
  <mat-card class="example-card" *ngFor="let item of data">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"  [ngStyle]="{'background-image': 'url(' + item.user.avatar_url + ')'}"></div>
      <mat-card-title><a href="{{item.html_url}}" target="_blank">{{item.title}}</a></mat-card-title>
      <mat-card-subtitle>by: <a href="{{item.user.html_url}}" target="_blank">{{item.user.login}}</a></mat-card-subtitle>
      <mat-card-subtitle>on {{item.created_at | date : 'short'}}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <p>
        {{item.body}}
      </p>
    </mat-card-content>

    <mat-card-actions>
      <mat-chip-list aria-label="Issue labels">

        <mat-chip *ngIf="!existInLocalStorage(item)" color="primary" selected (click)="saveInLocalStorage(item)"> <mat-icon svgIcon="thumbs-up"></mat-icon> Like</mat-chip>
        <mat-chip *ngIf="existInLocalStorage(item)" color="accent" (click)="removeFromLocalStorage(item)" selected> <mat-icon svgIcon="thumbs-down"></mat-icon> Unlike</mat-chip>

      </mat-chip-list>
    </mat-card-actions>

    <mat-card-footer *ngIf="item.labels.length > 0">
      <mat-chip-list aria-label="Issue labels">
        <mat-chip *ngFor="let label of item.labels">{{label.name}}</mat-chip>
      </mat-chip-list>
    </mat-card-footer>

  </mat-card>
</ng-container>
