/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css'

.mat-icon
    margin-right: 10px
    height: 20px!important
    width: 20px!important
    margin-top: -4px

.mat-chip-list-wrapper
    margin: 10px!important

.mat-card-actions
    padding: 0!important
    margin-left: -14px!important


.example-card
    margin-bottom: 20px


