<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <app-search-box></app-search-box>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <app-search-results-list></app-search-results-list>
    </div>
  </div>
</div>
